<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">Secrets</h1>
        <hr>
        <% if (secrets.length > 0) { %>
            <% secrets.forEach(secret => { %>
                <p><%= secret.content %></p>
            <% }); %>
        <% } else { %>
            <p>No secrets yet.</p>
        <% } %>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Logout</a>
    </div>
</div>

<%- include('partials/footer') %>
